<!-- I AM A PLACEHOLDER, CHANGE ME PLEASE! -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Reward placeholder template</title>
    <style>
        h1 {
            text-align: center;
        }

        #content {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 450px;
        }
    </style>
</head>

<body>
    <section id="content">
        {% block content %}
        {% endblock %}
    </section>
</body>

</html>